@font-face {
    font-family: 'test';
    src: url('/fonts/COMICSANS.TTF');
}
*{
    font-family: 'test';
    color: white;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: rgb(230, 201, 179);
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    gap: 70px;
}

button{
    height: 50px;
    width: 6rem;
    border-radius: 40px;
    border: 2px rgb(100, 74, 2) solid;
    background-color: rgb(220, 144, 69);
    font-size: 20px;
}

button:hover{
    cursor:pointer;
    background-color: rgb(238, 161, 85);
}

button:active{
    background-color: rgb(240, 184, 128);
}

#no{
    position: absolute;
    margin-right: -200px;
    
}

#yes{
    margin-left: -200px;
}
#salita{
    text-align: center;
}